<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitTrackerApp"
        tools:targetApi="31">
        <service
            android:name=".uielements.executingexercise.ExerciseRecordingService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        <service android:name=".uielements.executingworkout.WorkoutRecordingService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        <activity
            android:name=".uielements.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FitTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uielements.workout.WorkoutActivity"
            android:theme="@style/Theme.FitTrackerApp"/>
        <activity android:name=".uielements.completedworkout.CompletedWorkoutActivity" />
        <activity android:name=".uielements.executingworkout.ExecutingWorkoutActivity" />
        <activity android:name=".uielements.usedworkouts.UsedWorkoutsActivity" />
        <activity android:name=".uielements.creatingworkout.CreatingWorkoutActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".uielements.addingtousedworkouts.AddingToUsedWorkoutsActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".uielements.exercise.ExerciseActivity"/>
        <activity android:name=".uielements.completedexercise.CompletedExerciseActivity"/>
        <activity android:name=".uielements.allworkouts.AllExercisesActivity"/>
        <activity android:name=".uielements.executingexercise.ExecutingExerciseActivity"/>
        <activity android:name=".uielements.completedworkouts.CompletedWorkoutsActivity"/>
    </application>
</manifest>